@model WebApplication1.Models.ProductosModel

@{
    ViewData["Title"] = "Eliminar Producto";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Desactivar Producto</h1>
</div>

<div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
        <div class="bg-white p-4 shadow-sm rounded">
        <div class="card-body text-center" style="font-family: 'Arial', sans-serif; color: #333;">
            <p class="lead">¿Estás seguro de que deseas desactivar este producto del inventario?</p>

            <table class="table table-bordered mt-3">
                <tr>
                    <th>Nombre Producto:</th>
                    <td>@Model.Nombre</td>
                </tr>
                    <tr>
                        <th>Marca:</th>
                        <td>@Model.Marca</td>
                    </tr>
                <tr>
                    <th>Stock Actual:</th>
                    <td>@Model.Stock</td>
                </tr>
            </table>

            <form asp-action="Eliminar" method="post">
                @Html.AntiForgeryToken() <!-- Protección CSRF -->
                @Html.HiddenFor(model => model.Id)

                <div class="d-flex justify-content-center mt-3">
                    <a asp-action="Inventario" class="btn btn-primary me-3">
                        Cancelar
                    </a>
                    <button type="submit" class="btn btn-danger">
                        Desactivar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>

    .btn-danger {
        background-color: #d9534f;
        border: none;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .btn-secondary {
        background-color: #6c757d;
        border: none;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .btn:hover {
        transform: scale(1.05);
    }
</style>
